@font-face {
  font-family: "HelveticaNeueLTProLt";
  src: url(../fonts/HelveticaNeueLTProLt.otf) format("opentype");
}

@font-face {
  font-family: "HelveticaNeueLTProMd";
  src: url(../fonts/HelveticaNeueLTProMd.otf) format("opentype");
}

@font-face {
  font-family: "HelveticaNeueLTProRoman";
  src: url(../fonts/HelveticaNeueLTProRoman.otf) format("opentype");
}

@font-face {
  font-family: "Merriweather-LightItalic";
  src: url(../fonts/Merriweather-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url(../fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Шапка начало */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__mobile {
  display: none;
}

.menu__item a {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #989696;
  text-decoration: none;
  margin-right: 43px;
}

.menu__item:last-child a {
  margin-right: 0;
}

.active a {
  color: #010101;
}

.logo {
  margin: 0 16px;
}

.header__content {
  text-align: center;
}

.header__title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 44px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin: 207px auto 4px;
}

.header__text {
  font-family: "Merriweather-LightItalic", serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #898888;
  margin: 0 auto 43px;
}

.header__button {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000000;
  text-decoration: none;
  width: 188px;
  height: 57px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 206px;
  cursor: pointer;
}

.header__button:hover {
  background-color: #efefef;
}
/* Шапка конец */

/* Блок О нас начало */
.about {
  background-color: #1d1d1d;
  height: 1129px;
  padding-top: 128px;
  padding-bottom: 271px;
  background: url(../img/buildings_white.png) center 101% repeat-x,
    url(../img/buildings_white.png) center 101% repeat-x, #1d1d1d;
}
.about__inner {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: max-content max-content;
  grid-gap: 178px;
  place-content: center center;
}
.about__item {
  width: 417px;
  height: 276px;
  background-color: #181818;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__year {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
  margin-bottom: 27px;
}
.about__text {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #b7b7b7;
  text-align: left;
  padding: 0 0 0 20px;
}
/* Блок О нас конец */

/* Команда начало */
.team {
  height: 745px;
}

.block__head {
  text-align: center;
}

.block__title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin: 0;
  padding-top: 138px;
  margin-bottom: 13px;
}

.block__text {
  font-family: "Merriweather-LightItalic", sans-serif;
  font-size: 16px;
  /* line-height: 26px; */
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.02em;
  color: #898888;
  margin: 0;
}

.team__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 127px;
}

.team__item {
  text-align: center;
}

.team__item-img {
  margin-bottom: 29px;
}

.team__item-title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #464646;
  margin: 0;
  margin-bottom: 7px;
}
.team__item-text {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 13px;
  /* line-height: 26px; */
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #b3b3b3;
  margin: 0;
  margin-bottom: 27px;
}
.team__icon-box a {
  font-size: 20px;
  color: #e4e4e4;
  transition: 0.2s;
}

.team__icon-box a:hover {
  color: #949494;
}
/* Команда конец */

/* Блок Услуги начало */
.provide {
  background-color: #181818;
  padding-bottom: 155px;
}

.dark .block__title {
  color: #fff;
  padding-top: 176px;
}

.dark .block__text {
  color: #777777;
}
.provide__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 138px;
}

.provide__item {
  max-width: 335px;
  text-align: center;
}

.provide__item i {
  color: #fff;
  font-size: 63px;
  width: 172px;
  height: 172px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 43px;
}

.provide__item-title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 31px;
}

.provide__item-text {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 18px;
  /* line-height: 23px; */
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #383838;
  margin: 0;
}
/* Блок Услуги конец */

/* Блок Контакты начало */
.contact.block__head.block__title {
  padding-top: 95px;
}

.contact__icon-box {
  max-width: 570px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 64px;
}

.contact__item {
  text-align: center;
  width: 130px;
}

.contact__item i {
  color: #323232;
  font-size: 21px;
}

.contact__text a {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888;
  text-decoration: none;
  transition: 0.3s;
}

.contact__text a:hover {
  color: #343434;
  text-decoration: underline;
}

.contact__text {
  margin-bottom: 12px;
}

/* form */
.contact__form {
  display: flex;
  flex-direction: column;
  max-width: 770px;
  margin: 0 auto;
  padding-top: 153px;
}

.contact__form input {
  height: 52px;
  padding: 20px;
  text-align: center;
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888;
  border: 1px solid #999999;
}

.contact__name {
  margin-bottom: 20px;
}

.contact__email {
  margin-bottom: 20px;
}

.contact__phone {
  margin-bottom: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.contact__textarea {
  margin-bottom: 21px;
  height: 195px;
  resize: none;
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888;
  border: 1px solid #999999;
}

.contact__form .contact__btn {
  background-color: #161616;
  font-family: "HelveticaNeueLTProMd", sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
/* Блок Контакты конец */

/* Footer начало */
.footer {
  padding-top: 154px;
  margin-bottom: 29px;
  text-align: center;
}

.footer__text {
  font-family: "HelveticaNeueLTProRoman", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #3b3b3b;
}
.footer__mobile{
  display: none;
}
/* Footer конец */

/* media */
@media screen and (max-width: 821px) {
  .container {
    width: 820px;
  }
  .header__title {
    margin-top: 130px;
  }
  .header__button {
    margin-bottom: 150px;
  }
  .about {
    height: auto;
    padding-bottom: 200px;
  }
  .about__item {
    width: 460px;
  }
  .about__inner {
    grid-gap: 30px;
    grid-template-columns: max-content;
  }
  .block__title {
    padding-top: 100px;
  }
  .dark .block__title {
    padding-top: 100px;
  }
  .provide__inner {
    padding-top: 100px;
  }
  .provide__item {
    max-width: 250px;
  }
  .provide__item i {
    height: 130px;
    width: 130px;
    font-size: 50px;
  }
  .contact__form {
    max-width: 700px;
    padding-top: 70px;
  }
  .footer {
    padding-top: 50px;
  }
}

@media screen and (max-width: 769px) {
  .container {
    width: 768px;
  }
  .provide {
    padding-bottom: 100px;
  }
  .provide__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .provide__item {
    max-width: 300px;
    margin: 0 30px 40px;
  }
  .footer {
    padding-top: 30px;
  }
}

@media screen and (max-width: 394px) {
  .container {
   width: 390px;
  }
  .logo {
    margin: 0 -15px;
  }
  .menu__desktop {
    display: none;
  }
  .menu__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .menu__burger {
    width: 30px;
    height: 3px;
    background-color: #000;
    position: relative;
    cursor: pointer;
  }
  .menu__burger::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: -10px;
  }
  .menu__burger::before {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
  }
  .header__title{
    margin-top: 70px;
    font-size: 25px;
  }
  .header__text{
    width: 350px;
    font-size: 12px;
  }
  .about {
    padding-top: 70px;
    padding-bottom: 170px;
    font-size: 20px;
  }
  .about__item {
    width: 200px;
  }
  .team {
    height: auto;
  }
  .team__inner {
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
  }
  .team__item {
    margin-bottom: 30px;
    width: 340px;
  }
  .provide__item {
    width: 340px;
    margin: 0 0px 20px;
  }
  .contact__icon-box{
    display: flex;
    flex-direction: column;
  }
  .contact__form{
    width: 300px;
  }
  .footer__desktop{
    display: none;
  }
  .footer__mobile{
    display: block;
    height: auto;
  }
}
@media screen and (max-width: 281px) {
  .container {
    width: 280px;
  }
  .about {
    padding-top: 50px;
    padding-bottom: 120px;
  }
  .about__item {
    width: 250px;
  }
}
